body {
    background-color: rgb(240, 240, 240);
}

.body-container
{
    background-color: rgba(253, 253, 253, 0.9);
    margin: auto;
    width: 65%;
    height: auto;
    padding: 25px;
    margin-top: 25px;
    box-shadow: 0 0 2px rgb(85, 85, 85);
    border-radius: 10px;
    overflow: hidden;
    /* background-color: rgb(170, 170, 170); */
}

.user-pic {
    border: 1px black solid;
    border-radius: 90px;
}