
.user-picture {
    box-shadow: 0 0 5px .5px rgb(110, 110, 110);
    /* border: solid 1px rgb(110,110,110); */
    border-radius: 180px;
    max-width: 200px;
    max-height: 200px;
}

.picture-col {
    justify-content: center;
    text-align: center;
    align-items: center;
}

.header {
    float: right;
}


