html, body {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  position: absolute;
}

/* 
* Global styling for every card.
*/
.card {
  background-color: rgb(226, 226, 226);
  padding: 25px;
  margin-bottom: 10px;
}

/* 
* Global styling for all modal inputs.
*/
.input-group-text {
  width: 120px;
}

/* 
* Global styling for all modals and buttons inside modals.
*/
.modal-body {
  padding: 25px;
  margin: auto;
  width: 100%;
}

#modal-btn {
  float: right;
  margin-left: 10px;
}